/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f9; /* Couleur de fond claire */
    color: #333; /* Couleur de texte */
  }

  a {
    text-decoration: none;
    font-size: 1em;
    color: #007acc;
    margin-right: 15px;
  }

  a:hover {
    text-decoration: underline;}
  
  /* Header */
  header {
    background-color: #007acc; /* Bleu clair */
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  header ul {
    list-style-type: none; /* Supprime les puces des listes */
    padding: 0;
    margin: 0;
  }
  
  header h1,
  header h2 {
    margin: 20px 0 10px;
  }
  
  header p {
    font-size: 1.1em;
    margin: 15px 0;
  }
  
  /* Liens de navigation */
  header a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin: 0 10px;
  }
  
  header a:hover {
    text-decoration: underline;
  }
  
  /* Images du projet */
  header img {
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  header video {
    margin-top: 20px;
    border-radius: 18px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Section - Projets personnels */
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px auto;
  }
  
  section div {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
  }
  
  section ul {
    list-style-type: none;
    padding: 0;
  }
  
  section img {
    margin: 15px;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    max-width: 100%; /* Garde les proportions de l'image */
  }
  
  section img:hover {
    transform: scale(1.1); /* Effet de zoom */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Ombre plus forte */
  }
  
  /* Lien vers la page suivante */
  section h4 {
    margin-top: 20px;
    font-size: 1.3em;
    color: #007acc;
  }
  
  section h4 span {
    font-size: 1.5em;
    vertical-align: middle;
    color: #333;
  }
  